*{
  padding: 0;
  margin: 0;
}
.font-face {
  font-family: "Bowlby_One";
  letter-spacing: 2px;
}
.color{
  color: #DB1244;
}
.font-face2 {
  font-family: "Open_Sans";
  letter-spacing: 2px;
}

.botonAni{
  background-color: #DB1244;
  margin: 1%;
  padding: 0.5%;
}
header{
  position: fixed;
}
.sesion{
  padding-left: 17%;
  width:83%;
  height: 140vh;
  opacity: 1;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.281), rgba(0, 0, 0, 0.205)), url('./img/fuego.jpg');
  background-size: cover;
  background-repeat: no-repeat, no-repeat;
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
  
}

header{
  background-color: white;
  justify-content: left;
  width: 17%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  
}
ul{
  padding: 0%;
}
nav ul li a{
  text-decoration: none;
  color: #E39E0B;
  -webkit-text-stroke: 0.6px black;
  font-size: 120%;
}
nav ul li:hover{
  font-size: 125%;
}

.logo{
  width: 100%;
}
nav ul{
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
nav ul li{
  padding: 3%;
  transition: font-size 0.15s;
}

.inicioB{
  background-color: #DB1244;
  padding: 0.5%;
  float: right;
  margin: 1%;
}
button a{
  text-decoration: none;
  color: white;
}
.titulo{
  color: white;
  text-align: center;
  -webkit-text-stroke: 1px black;
  font-size: 250%;
}
.inicio{
  float: right;
  margin: 1% !important;
  padding: 0.7% !important;
}
.divBotones{
  height: 12vh;
}
.divTitulo{
  height: 22vh;
}
.redes{
  display: flex;
  justify-content: center;
  padding-top: 30%;
}
.imagen-logo{
  width: 66vh;
}
.divFooter{
  padding: 2%;
}

.iconos{
  padding: 3%;
}
.iconos svg {
  transition: width 0.15s;
  transition: height 0.15s;
}

footer{
  background-color: rgba(0, 0, 0, 0.728);
  color: white;
}
.colorF{
  background-color: black;
}
.footerC{
  border-top: 1px solid #E39E0B;
  padding-top: 1%;
  padding-left: 17%;

}
*, *::before, *::after {
  box-sizing:unset;
}

.botonReg{
  padding-top: 1%;
}

.carta{
  background-color: black;
  height: 120vh;
  padding-left: 17%;
  width:83%;
  display: grid;
  grid-template-columns: 50% 50%;
}
.cartas{
  height: 100%;
  width: 100%;
}
#carta1{
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('./img/burger-valencia-003.jpg');
  background-position: center ;
  background-size: cover;
  background-repeat: no-repeat;
}
.texto1{
  color: white;
}
.textos{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: justify;
}
p{
  padding-top: 3%;
  width: 90%;
}
.burguer{
  border-bottom: 2px solid #E39E0B ;
}
#carta2{
  background-image: linear-gradient(to right,  rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('./img/burger-valencia-002.jpg');
  background-position: center ;
  background-size: cover;
  background-repeat: no-repeat;
}
#carta3{
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('./img/burger-valencia-001.jpg');
  background-position: center ;
  background-size: cover;
  background-repeat: no-repeat;
}

.contenedor{
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.200), rgba(0, 0, 0, 0.200)), url('./img/fuego.jpg');
  background-size: cover;
  background-repeat: no-repeat, no-repeat;
  padding-left: 17%;
  width: 83%;
  height: 100vh;
}
.formulario{
  display: grid;
  grid-template-columns: auto auto;
  padding: 3%;
  color: black;
  height: auto;
  width: 93%;
  background-color: rgba(0, 0, 0, 0.21);
}
.form-control{
  padding: 1% 0% !important;
}
iframe{
  width: 200% !important;
  height: 100%;
  padding-left: 5%;
  border-left: #E39E0B solid 4px;
}
.forms{
  padding-right: 3%;
}
.margen{
  margin: 0.5%;
}
.equipo{
  display: flex;
  justify-content: space-around;
  padding-top: 5%;
  width: 90%;
}
.cuadrado{
  background-color: white;
  width: 25%;
  border-radius: 7px;
}
.agustar{
  width: 90%;
}
.button {
  background-color: #DB1244;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px 5px 5px 5px;
  -webkit-text-stroke: 0.5px black;
}


/*Bounce*/
@keyframes kreep {
  to { transform: scale(1.1); }
}

h1.kreep {
display: inline-block;
/*name-duration-function(ease,eas-in,linear)-delay-count-direction */
animation: kreep 0.6s ease 4s infinite alternate;
}